Source: php-spojenet-abraflexi
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Build-Depends: debhelper-compat (= 13), pkg-php-tools (>= 1.7~), phpab, jq, moreutils
Standards-Version: 4.7.0
Homepage: https://github.com/Spoje-NET/php-abraflexi
Rules-Requires-Root: no

Package: php-spojenet-abraflexi
Architecture: all
Section: php
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}, php-curl, php-xml
Provides: php-abraflexi
Conflicts: flexipeehp
Suggests: abraflexi-client-config,abraflexi-client,abraflexi-contract-invoices,abraflexi-dark-gui,abraflexi-digest,abraflexi-matcher,abraflexi-reminder,abraflexi-server,abraflexi-server-backup,abraflexi-tools,multi-abraflexi-setup,abraflexi-mailer,php-vitexsoftware-ease-bootstrap4-widgets-abraflexi,php-vitexsoftware-abraflexi-bricks
Description: PHP Based abraflexi RestAPI/Json library
 Allow you read and write operations on czech accounting system abraflexi

Package: php-spojenet-abraflexi-dev
Architecture: all
Section: php
Depends: ${misc:Depends}, php-spojenet-abraflexi, php-vitexsoftware-ease-core-dev
Description: PHP Based abraflexi RestAPI/Json library development files
 PHPUnit classes used for testing php-abraflexi functionality

#Package: php-spojenet-abraflexi-doc
#Depends: ${misc:Depends}
#Architecture: all
#Replaces: php-abraflexi-doc
#Suggests: www-browser
#Section: doc
#Priority: optional
#Description: PHP Based abraflexi RestAPI/Json library Documentation
# PHP Based abraflexi RestAPI/Json library documentation generated by phpDocumentor.

