Source: php-spojenet-abraflexi
Build-Depends: debhelper (>= 7.0.50~), composer, moreutils, jq, phpdocumentor, php-mbstring, php-curl, php-intl
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Spoje-NET/php-abraflexi

Package: php-spojenet-abraflexi
Depends: ${misc:Depends}, php-curl, php-xml, php-vitexsoftware-ease-core, composer
Provides: php-abraflexi
Conflicts: flexipeehp
Suggests: abraflexi-client-config,abraflexi-client,abraflexi-contract-invoices,abraflexi-dark-gui,abraflexi-digest,abraflexi-matcher,abraflexi-reminder,abraflexi-server,abraflexi-server-backup,abraflexi-tools,multi-abraflexi-setup,abraflexi-mailer,php-vitexsoftware-ease-bootstrap4-widgets-abraflexi,php-vitexsoftware-abraflexi-bricks
Architecture: all
Section: web
Priority: optional
Description: PHP Based abraflexi RestAPI/Json library
 Allow you read and write operations on czech accounting system abraflexi

Package: php-spojenet-abraflexi-dev
Depends: ${misc:Depends}, php-spojenet-abraflexi, php-vitexsoftware-ease-core-dev
Architecture: all
Section: web
Priority: optional
Description: PHP Based abraflexi RestAPI/Json library development files
 PHPUnit classes used for testing php-abraflexi functionality

Package: php-spojenet-abraflexi-doc
Depends: ${misc:Depends}
Architecture: all
Replaces: php-abraflexi-doc
Suggests: www-browser
Section: doc
Priority: optional
Description: PHP Based abraflexi RestAPI/Json library Documentation
 PHP Based abraflexi RestAPI/Json library documentation generated by phpDocumentor.

