#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)



%:
	dh $@ --with phpcomposer

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	dh_install
	# Generate autoloader
	phpab --output debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/autoload.php --basedir src/AbraFlexi src/AbraFlexi
	# Register with pkg-php-tools
	install -m0755 -d debian/php-spojenet-abraflexi/usr/share/pkg-php-tools/autoloaders
	echo 'deb abraflexi AbraFlexi/autoload.php' > debian/php-spojenet-abraflexi/usr/share/pkg-php-tools/autoloaders/php-spojenet-abraflexi
	# Version stamp
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/composer.json |sponge debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/composer.json
	sed -i -e  "s/\/\.\.\/\.\.\//\//g" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/RO.php
	sed -i -e  "s/\/\.\.\/\.\.\//\//g" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/Functions.php
	sed -i -e  "s/\.\.\/test\//\/usr\/share\/php\/AbraFlexi\/tools\//g" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/tools/*.php
	sed -i '/git/d' debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/tools/force_update_all.sh
	sed -i -e  "s/src\/AbraFlexi\///g" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/tools/force_update_all.sh
	echo "require_once '/usr/share/php/Ease/autoload.php';"  >> debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/autoload.php
	cat debian/libversion.php >> debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-spojenet-abraflexi/usr/share/php/AbraFlexi/autoload.php

